/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: relative;
    width: 100%;
    height: auto;
     z-index: -1; 
}

* {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}