html{
  background-color: white;
}
.logo-link{
  text-decoration: none;
}
body {
  margin: 0;
  padding-top: 3em;
}
#navbar{
  overflow: hidden;
  background-color: #0db7ed;
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar a:hover {
  transition: color 0.3s ease;
  color: rgb(68, 0, 255);
}

/* Linked are by default purple or blue, so we need to make them white to stand out */
a{
  color: white;
}

h1{
  text-align: center;
}
