html{
  background-color: gainsboro;
}
.logo-link{
  text-decoration: none;
}
body {
  margin: 0;
  padding-top: 3em;
}
#navbar{
  overflow: hidden;
  background-color: rgb(23, 58, 56);
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar a:hover {
  transition: color 0.3s ease;
  color: lightskyblue;
}
a{
  color:white;
}
