
#logo-image-with-name {
    width: auto;
    height: 1em;
    display: flex;
    font-size: auto;
    padding-top: 0%;
    margin-left: 5%;
    margin-top: 0%;
}

#MainTitle {
    padding: 0%;
}

#SubTitle {
    padding: 0%;
}
#logo-image {
    height: 1em;
    margin: 0 auto;
}
#logo-name-holder {
    font-size: 0.45em;
    padding-left: 10%;
    margin: 0 auto;
}
#logo-image-with-name:hover{
    transition: color 0.3s ease;
    color: #0db7ed
}
