.logo-link {
    text-decoration: none;
}

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.5s ease;
    height: 3em;
}

#navbar a:hover {
    transition: color 0.3s ease;
    color: #0db7ed
}

/* Linked are by default purple or blue, so we need to make them white to stand out */
a {
    color: white;
    padding-top: 0.3em;
}

h1 {
    text-align: center;
}
